In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.dpi'] = 300

### Preprocessing/Cleaning Up the Data

Author: Ekaterina M. D. Lezine

---

Note: in CSVs, Daily Discharge (m3/s) is PARAM = 1 and Daily Water Level (m) is PARAM = 2

Open:

In [ ]:
indin = pd.read_csv(r'data/stream_flow/07SA004_daily.csv', sep='\\t')
baker = pd.read_csv(r'data/stream_flow/07SB013_daily.csv', sep= '\t')
hay = pd.read_csv(r'data/stream_flow/07OB001_daily.csv', sep= '\t')
hanbury = pd.read_csv(r'data/stream_flow/06JB001_daily.csv', sep= '\t')
snare = pd.read_csv(r'data/stream_flow/07SA002_daily.csv', sep= '\t')

Grab var:

In [ ]:
indin_flow = indin.loc[indin['PARAM'] == 1]
indin_lev = indin.loc[indin['PARAM'] == 2]

baker_flow = baker.loc[baker['PARAM'] == 1]
baker_lev = baker.loc[baker['PARAM'] == 2]

hay_flow = hay.loc[hay['PARAM'] == 1]
hay_lev = hay.loc[hay['PARAM'] == 2]

hanbury_flow = hanbury.loc[hanbury['PARAM'] == 1]
hanbury_lev = hanbury.loc[hanbury['PARAM'] == 2]

snare_flow = snare.loc[snare['PARAM'] == 1]
snare_lev = snare.loc[snare['PARAM'] == 2]

Work with one station at a time:

In [ ]:
flow = hay_flow

In [ ]:
flow.columns = ['station', 'param', 'date', 'flow', 'sym']

flow['datetime'] = pd.to_datetime(flow['date'])

hanbury_holdout = hanbury_flow[(hanbury_flow['datetime'] > '12-31-2017') & (hanbury_flow['datetime'] < '01-01-2019')]
hanbury_holdout = hanbury_holdout.set_index('datetime')
level = hanbury_lev[(hanbury_lev['datetime'] > '12-31-2017') & (hanbury_lev['datetime'] < '01-01-2019')]
level = level.set_index('datetime')
hanbury_holdout['level'] = level['level']

snare_holdout['station'] = '07SA004'

hanbury_holdout = hanbury_holdout.drop(['param', 'sym'], axis=1)

In [ ]:
hanbury_holdout.to_csv('hanbury_holdout.csv')

The test/validation set is an entire year of the 5-year datasets.
I will just split the year into four "seasons", JFM, AMJ, JAS, OND. We will randomly select half of a season for validation and half of a season for testing from a random 4/5 years.

In [ ]:
flow = flow[(flow['datetime'] > '12-31-2008') & (flow['datetime'] < '01-01-2014')]
flow = flow.set_index('datetime')

In [ ]:
years = [2009, 2010, 2011, 2012, 2013]
year_seas = []
chosen_years = []
half_seasons_str = [['01-01', '02-16'], ['02-16','04-01'], ['04-01', '05-16'], ['05-16', '07-01'], ['07-01', '08-16'], ['08-16', '10-01'], ['10-01', '11-16'], ['11-16', '12-31']]

In [ ]:
half_seasons = np.arange(0,8,1)
for i in range(0,4):
    year = np.random.choice(years)
    years = np.delete(years, np.where(years == year))
    chosen_years.append(year)
    
    seas_0 = np.random.choice(half_seasons)
    seases = []
    seases.append(seas_0)
    half_seasons = np.delete(half_seasons, np.where(half_seasons == seas_0))
    seas_1 = np.random.choice(half_seasons)
    half_seasons = np.delete(half_seasons, np.where(half_seasons == seas_1))
    seases.append(seas_1)
    year_seas.append(seases)

In [ ]:
print(chosen_years)
print(year_seas)

In [ ]:
start = half_seasons_str[year_seas[0][0]][0] + '-' + str(chosen_years[0])
end = half_seasons_str[year_seas[0][0]][1] + '-' + str(chosen_years[0])
test = flow[(flow.index >= start) & (flow.index<end)]
start = half_seasons_str[year_seas[0][1]][0] + '-' + str(chosen_years[0])
end = half_seasons_str[year_seas[0][1]][1] + '-' + str(chosen_years[0])
valid = flow[(flow.index >= start) & (flow.index<end)]

for i,year in enumerate(chosen_years[1:]):
    start = half_seasons_str[year_seas[i][0]][0] + '-' + str(year)
    end = half_seasons_str[year_seas[i][0]][1] + '-' + str(year)
    test = test.append(flow[(flow.index >= start) & (flow.index<end)])
    start = half_seasons_str[year_seas[i][1]][0] + '-' + str(year)
    end = half_seasons_str[year_seas[i][1]][1] + '-' + str(year)
    valid = valid.append(flow[(flow.index >= start) & (flow.index<end)])

In [ ]:
test = test.drop(['param', 'sym'], axis=1)
test = test.sort_values(by='datetime')
test.to_csv('hay_test.csv')

valid = valid.drop(['param', 'sym'], axis=1)
valid = valid.sort_values(by='datetime')
valid.to_csv('hay_valid.csv')

In [ ]:
test_dates = pd.read_csv('hay_test.csv').set_index('datetime')
valid_dates = pd.read_csv('hay_valid.csv').set_index('datetime')

In [ ]:
train = flow

In [ ]:
train = train[np.isin(train.date.values,test_dates.date.values, invert=True)]

In [ ]:
train = train.drop(['param', 'sym'], axis=1)
train = train.sort_values(by='datetime')
train.to_csv('hay_train.csv')

---

Now I need the associated weather station data:

In [ ]:
test = pd.read_csv('hanbury_test.csv')
train = pd.read_csv('hanbury_train.csv')
valid = pd.read_csv('hanbury_valid.csv')
holdout = pd.read_csv('hanbury_holdout.csv')

In [ ]:
weather_0 = pd.read_csv(r'data/weather/10897/10897_2013_daily.csv', sep=',')
weather_1 = pd.read_csv(r'data/weather/10897/10897_2014_daily.csv', sep=',')
weather_2 = pd.read_csv(r'data/weather/10897/10897_2015_daily.csv', sep=',')
weather_3 = pd.read_csv(r'data/weather/10897/10897_2016_daily.csv', sep=',')
weather_4 = pd.read_csv(r'data/weather/10897/10897_2017_daily.csv', sep=',')
holdout_weather = pd.read_csv(r'data/weather/10897/10897_2018_daily.csv', sep=',')

In [ ]:
weather_0['datetime'] = pd.to_datetime(weather_0['Date/Time'], format = '%Y-%m-%d')
weather_0 = weather_0.set_index('datetime')
weather_1['datetime'] = pd.to_datetime(weather_1['Date/Time'], format = '%Y-%m-%d')
weather_1 = weather_1.set_index('datetime')
weather_2['datetime'] = pd.to_datetime(weather_2['Date/Time'], format = '%Y-%m-%d')
weather_2 = weather_2.set_index('datetime')
weather_3['datetime'] = pd.to_datetime(weather_3['Date/Time'], format = '%Y-%m-%d')
weather_3 = weather_3.set_index('datetime')
weather_4['datetime'] = pd.to_datetime(weather_4['Date/Time'], format = '%Y-%m-%d')
weather_4 = weather_4.set_index('datetime')

holdout_weather['datetime'] = pd.to_datetime(holdout_weather['Date/Time'], format = '%Y-%m-%d')
holdout_weather = holdout_weather.set_index('datetime')

In [ ]:
weather = weather_0.append(weather_1).append(weather_2).append(weather_3).append(weather_4)
#weather = holdout_weather

In [ ]:
df = valid

In [ ]:
df['datetime'] = pd.to_datetime(df['datetime'], format = '%Y-%m-%d') 
df = df.set_index('datetime')

In [ ]:
df['st_max_temp'] = weather['Max Temp (°C)']
df['st_min_temp'] = weather['Min Temp (°C)']
df['st_mean_temp'] = weather['Mean Temp (°C)']
df['st_heat_deg_days'] = weather['Heat Deg Days (°C)']
df['st_cool_deg_days'] = weather['Cool Deg Days (°C)']
df['st_total_rain'] = weather['Total Rain (mm)']
df['st_total_snow'] = weather['Total Snow (cm)']
df['st_total_precip'] = weather['Total Precip (mm)']
df['st_total_snow_on_ground'] = weather['Total Precip (mm)']
df['st_dir_of_max_gust_10sdeg'] = weather['Dir of Max Gust (10s deg)']
df['st_spd_of_max_gust_kmh'] = weather['Spd of Max Gust (km/h)']

In [ ]:
df.to_csv('hanbury_valid.csv')

---

Now I need to add the ERA5 reanalysis data. This is very easy with xarray.

In [4]:
import xarray as xr

In [4]:
era5 = xr.open_dataset(r'data/weather/era5/adaptor.mars.internal-1617220481.734862-12561-13-8839738e-ea21-407a-9e8a-b2db6a6133d3.nc')

Coordinates of weather stations to interpolate to:

- 45467 is (-114.38, 62.45)
<br>
- 10757 is (-115.02, 64.39)
<br>
- 10897 is (-105.13, 63.60)
<br>
- 1664 is (-115.78, 60.84)

We linearly interpolate to the station coords (xarray is so easy to use it makes me want to cry):

In [8]:
first = era5.interp(latitude = 62.45, longitude = -114.38)

Open the already created dataframes:

In [11]:
test = pd.read_csv('baker_test.csv')
train = pd.read_csv('baker_train.csv')
valid = pd.read_csv('baker_valid.csv')
holdout = pd.read_csv('baker_holdout.csv')

Turn the ERA5 data into a pandas dataframe:

In [46]:
first_df = first.to_dataframe()

Oh no, the ERA5 data I downloaded actually has two timesteps... midnight and 12 pm. I could average them, but then I feel like the temperature would be weird? Hm. Also just now realizing that I have no idea what timezone this is in, and it doesn't actually say. Annoying...
<br>
<br>
Now I am 97% sure it is UTC. Should convert to the timezone of the discharge data... but gah, now I realize I don't know that either! Yikes. I see why people use Julian dates.
<br>
<br>
So the discharge and weather station data are in UTC -6	MDT (mountain time!). Makes sense. But NOW that I think about it, it doesn't actually matter, because that data was daily, not hourly, anyways.
<br>
<br>
UTC-0 is 6 pm MDT of the day before. UTC-12 is 6 am MDT of the correct day. This is not actually helpful at all. Oops! I really should have downloaded a daily value. For now I will just use the 6 am value so I don't have to switch the days...

In [47]:
first_df

,t2m,evabs,evavt,lai_lv,ro,es,smlt,stl1,ssro,sp,sro,e,tp,swvl1,latitude,longitude
time,,,,,,,,,,,,,,,,
1997-05-01 00:00:00,275.107181,-2.105620e-05,-0.000100,0.816482,0.000058,-1.042496e-04,0.000375,274.067208,0.000048,98781.802369,9.900302e-06,-0.000556,0.000001,0.319553,62.45,-114.38
1997-05-01 12:00:00,267.613872,-7.416861e-06,-0.000027,0.819057,0.000024,-6.776672e-06,0.000007,272.137535,0.000024,98974.991433,5.774320e-08,-0.000094,0.000001,0.317770,62.45,-114.38
1997-05-02 00:00:00,276.845372,-6.721976e-05,-0.000039,0.819057,0.000063,-5.832984e-05,0.000593,275.459566,0.000048,99123.107824,1.560483e-05,-0.000631,0.000002,0.317706,62.45,-114.38
1997-05-02 12:00:00,268.708102,-1.898676e-05,-0.000039,0.821572,0.000024,-4.684689e-06,0.000020,272.317903,0.000024,99236.630516,5.606562e-07,-0.000124,0.000000,0.315548,62.45,-114.38
1997-05-03 00:00:00,277.894720,-1.107506e-04,-0.000062,0.821572,0.000061,-4.116039e-05,0.000531,276.530484,0.000048,99083.453140,1.359131e-05,-0.000753,0.000001,0.313703,62.45,-114.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-29 12:00:00,272.745514,-1.359731e-08,-0.000451,0.822515,0.000010,-5.839697e-05,0.000000,272.811899,0.000010,97227.461846,1.862645e-09,-0.000517,0.000012,0.259603,62.45,-114.38
2015-10-30 00:00:00,273.307743,-2.918484e-07,-0.000700,0.822515,0.000020,-1.426154e-04,0.000015,273.106059,0.000020,96722.708656,2.253753e-07,-0.000864,0.001362,0.259370,62.45,-114.38
2015-10-30 12:00:00,272.217420,-2.719404e-08,-0.000106,0.819922,0.000010,7.172035e-07,0.000000,272.918315,0.000010,96465.110946,2.253753e-07,-0.000105,0.000214,0.259156,62.45,-114.38
2015-10-31 00:00:00,272.952781,-6.040280e-07,-0.000230,0.819922,0.000020,-2.082306e-05,0.000000,273.110850,0.000020,96630.830453,6.724101e-07,-0.000263,0.000682,0.258933,62.45,-114.38
2015-10-31 12:00:00,269.549289,-2.719404e-08,-0.000242,0.817371,0.000010,-2.219778e-05,0.000000,272.861843,0.000010,97282.341327,1.862645e-09,-0.000274,0.000150,0.258479,62.45,-114.38

In [48]:
only_6am = first_df.between_time('11:45', '12:15')

In [49]:
only_6am

,t2m,evabs,evavt,lai_lv,ro,es,smlt,stl1,ssro,sp,sro,e,tp,swvl1,latitude,longitude
time,,,,,,,,,,,,,,,,
1997-05-01 12:00:00,267.613872,-7.416861e-06,-0.000027,0.819057,0.000024,-6.776672e-06,0.000007,272.137535,0.000024,98974.991433,5.774320e-08,-0.000094,0.000001,0.317770,62.45,-114.38
1997-05-02 12:00:00,268.708102,-1.898676e-05,-0.000039,0.821572,0.000024,-4.684689e-06,0.000020,272.317903,0.000024,99236.630516,5.606562e-07,-0.000124,0.000000,0.315548,62.45,-114.38
1997-05-03 12:00:00,270.287848,-2.191135e-05,-0.000032,0.824104,0.000024,-3.862844e-06,0.000023,272.461417,0.000024,98986.221922,6.165367e-07,-0.000129,0.000000,0.312178,62.45,-114.38
1997-05-04 12:00:00,269.953058,-2.816780e-05,-0.000058,0.826691,0.000025,1.270093e-06,0.000030,272.826332,0.000024,98920.922693,8.400494e-07,-0.000155,0.000003,0.308829,62.45,-114.38
1997-05-05 12:00:00,270.832995,-1.953640e-05,-0.000077,0.829284,0.000028,-2.032296e-06,0.000011,272.868541,0.000024,98833.753948,3.692479e-06,-0.000200,0.000336,0.306067,62.45,-114.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-27 12:00:00,270.706474,-6.798510e-09,-0.000180,0.827773,0.000010,-1.406133e-05,0.000000,272.924699,0.000010,98901.476459,2.253753e-07,-0.000204,0.001327,0.262326,62.45,-114.38
2015-10-28 12:00:00,272.097027,-4.955324e-07,-0.000308,0.825132,0.000010,-9.130175e-06,0.000000,272.662178,0.000010,98645.756384,1.862645e-09,-0.000324,0.000051,0.260868,62.45,-114.38
2015-10-29 12:00:00,272.745514,-1.359731e-08,-0.000451,0.822515,0.000010,-5.839697e-05,0.000000,272.811899,0.000010,97227.461846,1.862645e-09,-0.000517,0.000012,0.259603,62.45,-114.38
2015-10-30 12:00:00,272.217420,-2.719404e-08,-0.000106,0.819922,0.000010,7.172035e-07,0.000000,272.918315,0.000010,96465.110946,2.253753e-07,-0.000105,0.000214,0.259156,62.45,-114.38
2015-10-31 12:00:00,269.549289,-2.719404e-08,-0.000242,0.817371,0.000010,-2.219778e-05,0.000000,272.861843,0.000010,97282.341327,1.862645e-09,-0.000274,0.000150,0.258479,62.45,-114.38

Get rid of the hourly time so it matches with discharge dfs:

In [56]:
only_6am['datetime'] = only_6am.index.normalize()
only_6am['datetime'] = pd.to_datetime(only_6am['datetime'], format = '%Y-%m-%d')

In [57]:
only_6am = only_6am.set_index('datetime')

In [58]:
only_6am

,t2m,evabs,evavt,lai_lv,ro,es,smlt,stl1,ssro,sp,sro,e,tp,swvl1,latitude,longitude
datetime,,,,,,,,,,,,,,,,
1997-05-01,267.613872,-7.416861e-06,-0.000027,0.819057,0.000024,-6.776672e-06,0.000007,272.137535,0.000024,98974.991433,5.774320e-08,-0.000094,0.000001,0.317770,62.45,-114.38
1997-05-02,268.708102,-1.898676e-05,-0.000039,0.821572,0.000024,-4.684689e-06,0.000020,272.317903,0.000024,99236.630516,5.606562e-07,-0.000124,0.000000,0.315548,62.45,-114.38
1997-05-03,270.287848,-2.191135e-05,-0.000032,0.824104,0.000024,-3.862844e-06,0.000023,272.461417,0.000024,98986.221922,6.165367e-07,-0.000129,0.000000,0.312178,62.45,-114.38
1997-05-04,269.953058,-2.816780e-05,-0.000058,0.826691,0.000025,1.270093e-06,0.000030,272.826332,0.000024,98920.922693,8.400494e-07,-0.000155,0.000003,0.308829,62.45,-114.38
1997-05-05,270.832995,-1.953640e-05,-0.000077,0.829284,0.000028,-2.032296e-06,0.000011,272.868541,0.000024,98833.753948,3.692479e-06,-0.000200,0.000336,0.306067,62.45,-114.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-27,270.706474,-6.798510e-09,-0.000180,0.827773,0.000010,-1.406133e-05,0.000000,272.924699,0.000010,98901.476459,2.253753e-07,-0.000204,0.001327,0.262326,62.45,-114.38
2015-10-28,272.097027,-4.955324e-07,-0.000308,0.825132,0.000010,-9.130175e-06,0.000000,272.662178,0.000010,98645.756384,1.862645e-09,-0.000324,0.000051,0.260868,62.45,-114.38
2015-10-29,272.745514,-1.359731e-08,-0.000451,0.822515,0.000010,-5.839697e-05,0.000000,272.811899,0.000010,97227.461846,1.862645e-09,-0.000517,0.000012,0.259603,62.45,-114.38
2015-10-30,272.217420,-2.719404e-08,-0.000106,0.819922,0.000010,7.172035e-07,0.000000,272.918315,0.000010,96465.110946,2.253753e-07,-0.000105,0.000214,0.259156,62.45,-114.38
2015-10-31,269.549289,-2.719404e-08,-0.000242,0.817371,0.000010,-2.219778e-05,0.000000,272.861843,0.000010,97282.341327,1.862645e-09,-0.000274,0.000150,0.258479,62.45,-114.38

In [104]:
df = holdout

df['datetime'] = pd.to_datetime(df['datetime'], format = '%Y-%m-%d') 
df = df.set_index('datetime')

In [105]:
df['era5_6am_t2m'] = only_6am['t2m']
df['era5_6am_evabs'] = only_6am['evabs']
df['era5_6am_evavt'] = only_6am['evavt']
df['era5_6am_lai_lv'] = only_6am['lai_lv']
df['era5_6am_ro'] = only_6am['ro']
df['era5_6am_es'] = only_6am['es']
df['era5_6am_smlt'] = only_6am['smlt']
df['era5_6am_stl1'] = only_6am['stl1']
df['era5_6am_ssro'] = only_6am['ssro']
df['era5_6am_sp'] = only_6am['sp']
df['era5_6am_sro'] = only_6am['sro']
df['era5_6am_e'] = only_6am['e']
df['era5_6am_tp'] = only_6am['tp']
df['era5_6am_swvl1'] = only_6am['swvl1']

In [106]:
only_6am[np.isin(only_6am.index.values,df.index.values)]

Empty DataFrame
Columns: [t2m, evabs, evavt, lai_lv, ro, es, smlt, stl1, ssro, sp, sro, e, tp, swvl1, latitude, longitude]
Index: []

Oh my gosh I'm an idiot I only downloaded months 5-10 of ERA5 :'(

In [107]:
print(np.unique(only_6am.index.year))
print(np.unique(only_6am.index.month))
print(np.unique(only_6am.index.day))

[1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
 2011 2012 2013 2014 2015]
[ 5  6  7  8  9 10]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]

Oops!

In [108]:
df.to_csv('baker_holdout.csv')

---

Redid all of this with redownloaded ERA5 for 12 pm at the correct time zone for all months of year!